<nav>
  <a class="navbar-brand" href="https://www.chartiq.com/" target="_blank"><img src="assets/CIQ_logo_negative.png" class="brand-logo"></a>
  <ul>
    <li [ngClass]="(activeChart === 'helloworld')?'active':''" (click)="SetActive('helloworld')">HelloWorld</li>
    <li [ngClass]="(activeChart === 'quotefeed')?'active':''" (click)="SetActive('quotefeed')">Quotefeed</li>
  </ul>
  <div style="clear:both;"></div>
</nav>
<div style="text-align:center">
  <app-chart-helloworld *ngIf="activeChart === 'helloworld'"></app-chart-helloworld>
  <app-chart-quotefeed *ngIf="activeChart === 'quotefeed'"></app-chart-quotefeed>
</div>
